ESDL_OUTPUT_PROFILES_TYPE=POSTGRESQL

DB_HOSTNAME=omotes_postgres
DB_PORT=6432
DB_USERNAME=omotes_timeseries_rw
DB_PASSWORD=somepass4

RABBITMQ_USERNAME=celery
RABBITMQ_PASSWORD=somepass2
RABBITMQ_HOSTNAME=localhost
RABBITMQ_PORT=5672
RABBITMQ_VIRTUALHOST=omotes_celery

# May be grow_optimizer_default, grow_optimizer_no_heat_losses, grow_optimizer_with_pressure or grow_simulator
GROW_TASK_TYPE=grow_optimizer_default
LOG_LEVEL=INFO

TASK_RESULT_QUEUE_NAME=omotes_task_result_events
TASK_PROGRESS_QUEUE_NAME=omotes_task_progress_events

# MAX_TASKS_BEFORE_RESTART: 0 means no scheduled restarts
MAX_TASKS_BEFORE_RESTART=0
